# Configuración de logging
LOG_LEVEL=

# Configuración de base de datos
DB_NAME=
DB_HOST=
DB_PASSWORD=
DB_PORT=
DB_USER=

# Configuración de la plataforma
BASE_URL=
MEDIA_FILES_DIR_PATH=
STATIC_FILES_DIR_PATH=

# Configuración de Redis
REDIS_HOST=
REDIS_PORT=
REDIS_DB=

# Configuración de modelos LLM
OLLAMA_BASE_URL=

CHAT_LLM_MODEL_NAME=
CHAT_TEMPERATURE=
CHAT_NODE_SYSTEM_PROMPT_PATH=

QUERY_BUILDER_LLM_MODEL_NAME=
QUERY_BUILDER_TEMPERATURE=
QUERY_BUILDER_NODE_SYSTEM_PROMPT_PATH=

QUERY_EXECUTOR_LLM_MODEL_NAME=
QUERY_EXECUTOR_TEMPERATURE=
QUERY_EXECUTOR_NODE_SYSTEM_PROMPT_PATH=

ROUTER_LLM_MODEL_NAME=
ROUTER_TEMPERATURE=
ROUTER_NODE_SYSTEM_PROMPT_PATH=

# Ruta del modelo YOLO
YOLO_SAFETY_DETECTOR_MODEL_PATH=
YOLO_ULTRALYTICS_DIR=